// --------------------------------------------------
// Parts of common CSS
// --------------------------------------------------
@import "library";
@import "sanitize";
@import "adjust";

// --------------------------------------------------
// Parts of front-page CSS
// --------------------------------------------------
@import "front-page/fv";

/* -------------------------------------------------------------- */
/*  common  */
/* -------------------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    color: var(--primary-color);
}

.tinos {
    font-family: "Tinos", serif;
}

.zen-kaku-gothic-new {
    font-family: "Zen Kaku Gothic New", sans-serif;
}

/* -------------------------------------------------------------- */
/*  smp  */
/* -------------------------------------------------------------- */
@media screen and (max-width:768px) {}



/* -------------------------------------------------------------- */
/* PC */
/* -------------------------------------------------------------- */
@media print,
screen and (min-width:769px) {}